{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %}


<div class="container mt-5">
<div class="container border-bottom shadow mt-5 p-5">
  <h3 class="mb-4">Farm Input Form</h3>
  <form method = "POST">

  {% csrf_token %}
  <div class="row g-3">
{% comment %} The comment start here {% endcomment %}

  {% for field in form %}
          <div class="col-md-6">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <div class="text-danger small">{{ field.errors }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

{% comment %} The comment ends {% endcomment %}


    <div class="col-md-6">
      {{ form.avg_temp.label_tag }}
      {{ form.avg_temp }}
    </div>
    <div class="col-md-6">
      {{ form.avg_water.label_tag }}
      {{ form.avg_water }}
    </div>

    <div class="col-md-6">
      {{ form.pesticide_name.label_tag }}
      {{ form.pesticide_name }}
    </div>
    <div class="col-md-6">
      {{ form.avg_pesticide.label_tag }}
      {{ form.avg_pesticide }}
    </div>

    <div class="col-md-6">
      {{ form.fertilizer_name.label_tag }}
      {{ form.fertilizer_name }}
    </div>
    <div class="col-md-6">
      {{ form.avg_fertilizer.label_tag }}
      {{ form.avg_fertilizer }}
    </div>

    <div class="col-md-6">
      {{ form.seed_variety.label_tag }}
      {{ form.seed_variety }}
    </div>

    <!-- Full-width textarea -->
    <div class="col-12">
      {{ form.daily_observation.label_tag }}
      {{ form.daily_observation }}
    </div>
  </div>
      

    <!-- Submit Button -->
    <div class="mt-4">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
</div>


<br/><br/>
{% endblock main-content %}

