{% extends 'base.html' %}
{% load static %}

{% block title %} Profile Update Page {% endblock title %}
{% load crispy_forms_tags %}
{% block main-content %}
<div class="container">
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                Update Staff Details
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ u_form|crispy }}
                        {{ s_form|crispy }}
                            <div class="d-flex gap-3">
                    <a class="btn btn-danger btn-sm" href="{% url 'user_profile' %}">Cancel</a>
                    <input class="btn btn-success btn-sm" type="submit" value="Update">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script>
    var csrfToken = "{{ csrf_token }}";
</script>
{% endblock main-content %}