
{% extends 'base.html' %}
{% load static %}

{% block title %} Profile Page {% endblock title %}

{% block main-content %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <div class="card  shadow p-3">
            <div class="card-header bg-success text-white">
                Staff Details Page
            </div>
            <div class="row p-3">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Profile Information</span class="h4">
                           {% comment %} {% url 'profile-update' %} {% endcomment %}
                            <a class="btn btn-info btn-sm float-end" href="{% url 'user_profile_update' %}">Update</a>
                            <hr class="gradient-double">
                        </thead>
                        <tbody>
                          <tr>
                                <th scope="row">Name:</th>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Username:</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone:</th>
                                <td>{{ user.staff.mobile }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address:</th>
                                <td>{{ user.staff.streetno }} {{ user.staff.streetname }} {{ user.staff.city }}</td>
                            </tr>
                              <tr>
                                <th scope="row">State:</th>
                                <td>{{ user.staff.state }} </td>
                            </tr>
                               <tr>
                                <th scope="row">Marital Status</th>
                                <td>{{ user.staff.marital_status }} </td>
                            </tr>
                                <tr>
                                <th scope="row">Emp_Date:</th>
                                <td>{{ user.staff.emp_date}} </td>
                            </tr>
                             <tr>
                                <th scope="row">Emp_Role:</th>
                                <td>{{ user.staff.emp_role }} </td>
                            </tr>
                              <tr>
                                <th scope="row">is_Active:</th>
                                <td>{{ user.is_active }} </td>
                            </tr>
                               <tr>
                                <th scope="row">Current_Salary:</th>
                                <td>{{ user.staff.current_salary }} </td>
                            </tr>
                           
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ user.staff.image.url }}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
 
</div>


<script>
    var csrfToken = "{{ csrf_token }}";
</script>
{% endblock main-content %}