{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %}


<div class="container mt-5">
<div class="container">
  <h3 class="mb-3">Farm Data</h3>
<div class = "row">

 <!-- Date Search Filters -->
  <div class="row mt-4 p-3">
    <div class="col-md-3">
      <label for="fromDate" class="form-label">From Date</label>
      <input type="date" id="fromDate" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="toDate" class="form-label">To Date</label>
      <input type="date" id="toDate" class="form-control">
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <button class="btn btn-success w-100" onclick="filterByDate()">🔍 Search</button>
    </div>
  </div>
  
  

  <!-- Data Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="farmTable">
      <thead class="table-dark">
        <tr>
          <th>Date</th>
          <th>Avg Temp (°C)</th>
          <th>Avg Water (L)</th>
          <th>Avg Pesticide (ml)</th>
          <th>Seed Variety</th>
          <th>Observations </th>
            <th>Activity</th>
        </tr>
      </thead>
      <tbody>
      {% for item in recordz %}
        <tr>
          <td>{{ item.created_at }}</td>
          <td>{{ item.avg_water}}</td>
          <td>{{item.avg_water}}</td>
          <td>{{item.avg_pesticide}}</td>
          <td>{{ item.seed_variety}}</td>
          <td>{{item.daily_observation }}</td>
          <td><button type="button" class="btn btn-primary">update</button> 
          <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Download Button -->
  <div class="mb-3">
    <button class="btn btn-success" onclick="downloadTable()">⬇ Download CSV</button>
  </div>

 </div>
  </div>


<br/><br/>
{% endblock main-content %}

